<app-default-login-layout
  primaryBtnText="Signup Now"
  secondaryBtnText="Login Now"
>
  <div
    class="card flex justify-content-center items-center w-full flex-col gap-10 mt-12"
  >
    <div class="flex flex-col w-2/3 gap-1">
      <span class="flex float-start text-gray-b600 ml-2 font-medium text-sm"
        >Lastname</span
      >
      <div
        class="card flex justify-content-center items-center w-full flex-col"
      >
        <p-inputGroup class="w-full flex flex-col">
          <input
            type="text"
            pInputText
            class="bg-sky-50 h-14 font-kanit p-2"
            placeholder="Enter your lastname"
          />
          <p-inputGroupAddon
            class="bg-blue-b100 flex justify-center items-center"
          >
            <span class="material-symbols-outlined icon-input"> person </span>
          </p-inputGroupAddon>
        </p-inputGroup>
      </div>
    </div>
    <div class="flex flex-col w-2/3 gap-1">
      <span class="flex float-start text-gray-b600 ml-2 font-medium text-sm"
        >Email Adress</span
      >
      <div
        class="card flex justify-content-center items-center w-full flex-col"
      >
        <p-inputGroup class="w-full flex flex-col">
          <input
            type="text"
            pInputText
            class="bg-sky-50 h-14 font-kanit p-2"
            placeholder="email@email.com"
          />
          <p-inputGroupAddon
            class="bg-blue-b100 flex justify-center items-center"
          >
            <span class="material-symbols-outlined icon-input"> mail </span>
          </p-inputGroupAddon>
        </p-inputGroup>
      </div>
    </div>

    <div class="flex flex-col w-2/3 gap-1">
      <span class="flex float-start text-gray-b600 ml-2 font-medium text-sm"
        >Password</span
      >
      <div
        class="card flex justify-content-center items-center w-full flex-col"
      >
        <p-inputGroup class="w-full flex flex-col">
          <input
            type="text"
            pInputText
            class="bg-sky-50 h-14 font-kanit p-2"
            placeholder="Enter your password"
          />
          <p-inputGroupAddon
            class="bg-blue-b100 flex justify-center items-center"
          >
            <span class="material-symbols-outlined icon-input"> lock </span>
          </p-inputGroupAddon>
        </p-inputGroup>
      </div>
    </div>
  </div>
</app-default-login-layout>
